---
import Layout from "@/layouts/PageLayout.astro";
import ProfilePicture from "@/assets/profile.jpg";
import { Image } from "@astrojs/image/components";
---

<Layout
  title="JBC"
  description="The JBC blog landing page"
  class="prose-sm w-full sm:prose sm:max-w-none"
>
  <div
    class="reverse grid gap-10 sm:grid-cols-5 sm:justify-items-center sm:gap-0 md:grid-cols-3"
  >
    <div class="sm:col-span-4 md:col-span-2">
      <h1 class="font-bold">
        Hey, I&apos;m <span class="text-primary">Juan Cortelezzi</span>
      </h1>
      <p>
        I&apos;m a self taught software developer, recently studying software
        engineering. You&apos;ve found my personal slice of the internet, feel
        free to look around.
      </p>
    </div>
    <div class="avatar not-prose order-first col-span-1 sm:order-last">
      <div class="w-32 h-32 rounded-full">
        <Image
          width={100}
          height={100}
          src={ProfilePicture}
          alt="profile picture"
          format="webp"
        />
      </div>
    </div>
  </div>
  <p>
    In this page you will be able to see my current projects by clicking on the <span
      class="text-primary">Github</span
    > link up top, as well as taking a look at my latest posts/tutorials on the{
      " "
    }
    <span class="text-primary">Blog</span> link besides the projects one
  </p>
</Layout>
